<div class="login-container appear-animation">
  <div>
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
      <div class="form-group">
        <input
          class="custom-input"
          placeholder="Username"
          type="name"
          id="name"
          name="name"
          [(ngModel)]="loginData.username"
          required
        />
      </div>
      <div class="form-group">
        <input
          class="custom-input"
          placeholder="Password"
          type="password"
          id="password"
          name="password"
          [(ngModel)]="loginData.password"
          required
        />
      </div>
      <button class="nature-button" type="submit">Submit</button>
      <button class="nature-button" routerLink="/">Back</button>
    </form>
  </div>
</div>
