.login-container {
  margin-top: 20px;
}

.custom-input {
  color: #4caf50;
  border: 2px solid #4caf50;
  border-radius: 25px;
  padding: 30px 35px;
  margin: 20px 0;
  font-size: 3rem;
}

.nature-button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5rem;
  margin: 10px 0;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 25px;
  transition: background-color 0.3s ease;
}

.nature-button:hover {
  background-color: #45a049;
}

@media screen and (max-width: 992px) {
  .custom-input {
    padding: 10px 15px;
    margin: 20px 0;
    font-size: 3rem;
  }
}

@media screen and (max-width: 600px) {
  .custom-input {
    padding: 10px 10px;
    margin: 10px 3;
    font-size: 2rem;
  }
}
