.appear-animation {
  animation: fade 1s ease-in, reduceSize 1s ease 2s;
}

.appear-button {
  animation: appearButtons 1s ease-in-out 3s;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes reduceSize {
  0% {
    transform: translateY(200px);
  }
  100% {
    transform: translateY(-100px);
  }
}

@keyframes appearButtons {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    pointer-events: all;
  }
}

.tree-text {
  background: linear-gradient(to right, rgb(67, 124, 205), rgb(69, 214, 202));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  pointer-events: none;
  opacity: 0;
  animation-fill-mode: forwards;
  transform: translateY(200px);
  font-size: 9rem;
}

.button-container {
  margin-top: 20px;
}

.login-container {
  margin-top: 20px;
}

.min-height {
  min-height: 490px;
}

.rounded-button {
  background-color: #4caf50;
  color: white;
  border-radius: 25px;
  padding: 30px 200px;
  margin: 20px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 3rem;
  opacity: 0;
  animation-fill-mode: forwards;
  pointer-events: none;
}

.rounded-button:hover {
  color: #4caf50;
  background-color: white;
  border-color: #4caf50;
}

.custom-input {
  color: #4caf50;
  border: 2px solid #4caf50;
  border-radius: 25px;
  padding: 30px 35px;
  margin: 20px 0;
  font-size: 3rem;
}

@media screen and (max-width: 992px) {
  .tree-text {
    font-size: 6rem;
    margin-bottom: 10px;
  }

  .rounded-button {
    font-size: 3rem;
    padding: 30px 80px;
    margin-bottom: 10px;
  }

  .custom-input {
    padding: 10px 15px;
    margin: 20px 0;
    font-size: 3rem;
  }
}

@media screen and (max-width: 600px) {
  .tree-text {
    font-size: 3rem;
    margin-bottom: 10px;
  }

  .rounded-button {
    font-size: 2rem;
    padding: 20px 60px;
    margin-bottom: 10px;
  }

  .custom-input {
    padding: 10px 10px;
    margin: 10px 3;
    font-size: 2rem;
  }
}
